<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Programming Topics</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="{{ site.baseurl }}/variables.md">Variables</a></li>
            <li><a href="{{ site.baseurl }}/datatypes.md">Datatypes</a></li>
            <li><a href="{{ site.baseurl }}/input-output.md">Input and Output</a></li>
            <li><a href="{{ site.baseurl }}/functions.md">Functions</a></li>
            <li><a href="{{ site.baseurl }}/conclusion.md">Conclusion</a></li>
        </ul>
    </div>
    
</body>
</html>
